<app-nav></app-nav>
  <main class="container mt-5 py-5">
    <h3 class="py-3">All Projects</h3>
    <section class="projects">
      <div class="row py-3">
        <div class="col-md-3 project-item py-3">
          <div (click)="activeProject($event)" class="row p-4 mx-1 hide-info project-wrapper">
            <div class="project-img col-sm-12">
              <img class="img" src="{{ img }}" alt="">
            </div>
            <div class="project-info px-4 pr-5 col-sm-7">
            <small>Date: 20/07/2021</small>
            <h4>Kababa Resort Hotel</h4>
            <ul class="d-flex align-items-center">
              <li class="pr-1">
                <small>Angular</small>
              </li>
              <li class="pr-1">
                <small>Flask</small>
              </li>
              <li class="pr-1">
                <small>MySQL</small>
              </li>
            </ul>
            <p class="project-desc">
              Valentinos Villa Bistro is
              a hotel project located in
              Machakos. This project is
              built with Code Igniter.
              This project is
              built with Code Igniter.
            </p>
            <div class="project-links d-flex align-items-center justify-content-center">
              <a class="btn mr-1 btn-secondary" href="">source code</a>
              <a class="btn ml-1 btn-success" href="">website link</a>
            </div>
          </div>

          </div>
        </div>
        <div class="col-md-3 project-item py-3">
          <div (click)="activeProject($event)" class="row p-4 mx-1 hide-info project-wrapper">
            <div class="project-img col-sm-12">
              <img class="img" src="{{ img }}" alt="">
            </div>
            <div class="project-info px-4 pr-5 col-sm-7">
            <small>Date: 20/07/2021</small>
            <h4>Kababa Resort Hotel</h4>
            <ul class="d-flex align-items-center">
              <li class="pr-1">
                <small>Angular</small>
              </li>
              <li class="pr-1">
                <small>Flask</small>
              </li>
              <li class="pr-1">
                <small>MySQL</small>
              </li>
            </ul>
            <p class="project-desc">
              Valentinos Villa Bistro is
              a hotel project located in
              Machakos. This project is
              built with Code Igniter.
              This project is
              built with Code Igniter.
            </p>
            <div class="project-links d-flex align-items-center justify-content-center">
              <a class="btn mr-1 btn-secondary" href="">source code</a>
              <a class="btn ml-1 btn-success" href="">website link</a>
            </div>
          </div>

          </div>
        </div>
        <div class="col-md-3 project-item py-3">
          <div (click)="activeProject($event)" class="row p-4 mx-1 hide-info project-wrapper">
            <div class="project-img col-sm-12">
              <img class="img" src="{{ img }}" alt="">
            </div>
            <div class="project-info px-4 pr-5 col-sm-7">
            <small>Date: 20/07/2021</small>
            <h4>Kababa Resort Hotel</h4>
            <ul class="d-flex align-items-center">
              <li class="pr-1">
                <small>Angular</small>
              </li>
              <li class="pr-1">
                <small>Flask</small>
              </li>
              <li class="pr-1">
                <small>MySQL</small>
              </li>
            </ul>
            <p class="project-desc">
              Valentinos Villa Bistro is
              a hotel project located in
              Machakos. This project is
              built with Code Igniter.
              This project is
              built with Code Igniter.
            </p>
            <div class="project-links d-flex align-items-center justify-content-center">
              <a class="btn mr-1 btn-secondary" href="">source code</a>
              <a class="btn ml-1 btn-success" href="">website link</a>
            </div>
          </div>

          </div>
        </div>
        <div class="col-md-3 project-item py-3">
          <div (click)="activeProject($event)" class="row p-4 mx-1 hide-info project-wrapper">
            <div class="project-img col-sm-12">
              <img class="img" src="{{ img }}" alt="">
            </div>
            <div class="project-info px-4 pr-5 col-sm-7">
            <small>Date: 20/07/2021</small>
            <h4>Kababa Resort Hotel</h4>
            <ul class="d-flex align-items-center">
              <li class="pr-1">
                <small>Angular</small>
              </li>
              <li class="pr-1">
                <small>Flask</small>
              </li>
              <li class="pr-1">
                <small>MySQL</small>
              </li>
            </ul>
            <p class="project-desc">
              Valentinos Villa Bistro is
              a hotel project located in
              Machakos. This project is
              built with Code Igniter.
              This project is
              built with Code Igniter.
            </p>
            <div class="project-links d-flex align-items-center justify-content-center">
              <a class="btn mr-1 btn-secondary" href="">source code</a>
              <a class="btn ml-1 btn-success" href="">website link</a>
            </div>
          </div>

          </div>
        </div>
        <div class="col-md-3 project-item py-3">
          <div (click)="activeProject($event)" class="row p-4 mx-1 hide-info project-wrapper">
            <div class="project-img col-sm-12">
              <img class="img" src="{{ img }}" alt="">
            </div>
            <div class="project-info px-4 pr-5 col-sm-7">
            <small>Date: 20/07/2021</small>
            <h4>Kababa Resort Hotel</h4>
            <ul class="d-flex align-items-center">
              <li class="pr-1">
                <small>Angular</small>
              </li>
              <li class="pr-1">
                <small>Flask</small>
              </li>
              <li class="pr-1">
                <small>MySQL</small>
              </li>
            </ul>
            <p class="project-desc">
              Valentinos Villa Bistro is
              a hotel project located in
              Machakos. This project is
              built with Code Igniter.
              This project is
              built with Code Igniter.
            </p>
            <div class="project-links d-flex align-items-center justify-content-center">
              <a class="btn mr-1 btn-secondary" href="">source code</a>
              <a class="btn ml-1 btn-success" href="">website link</a>
            </div>
          </div>

          </div>
        </div>
        <div class="col-md-3 project-item py-3">
          <div (click)="activeProject($event)" class="row p-4 mx-1 hide-info project-wrapper">
            <div class="project-img col-sm-12">
              <img class="img" src="{{ img }}" alt="">
            </div>
            <div class="project-info px-4 pr-5 col-sm-7">
            <small>Date: 20/07/2021</small>
            <h4>Kababa Resort Hotel</h4>
            <ul class="d-flex align-items-center">
              <li class="pr-1">
                <small>Angular</small>
              </li>
              <li class="pr-1">
                <small>Flask</small>
              </li>
              <li class="pr-1">
                <small>MySQL</small>
              </li>
            </ul>
            <p class="project-desc">
              Valentinos Villa Bistro is
              a hotel project located in
              Machakos. This project is
              built with Code Igniter.
              This project is
              built with Code Igniter.
            </p>
            <div class="project-links d-flex align-items-center justify-content-center">
              <a class="btn mr-1 btn-secondary" href="">source code</a>
              <a class="btn ml-1 btn-success" href="">website link</a>
            </div>
          </div>

          </div>
        </div>
      </div>

    </section>
    <app-contact></app-contact>
  </main>
<app-footer></app-footer>
