<app-nav></app-nav>
  <main class="mt-5 py-5 container">
    <div class="row">
      <div class="col-md-8">
        <div class="post-intro">
          <div class="post-img">
            <img src="{{img}}" alt="">
          </div>
          <div class="post-title">
            <h1 class="text-capitalize">Token-based authentication with flask</h1>
          </div>
          <div class="post-topic">

          </div>
        </div>
      </div>
      <div class="col-md-4"></div>
    </div>
  </main>
<app-footer></app-footer>
