<section class="container work py-4">
  <h2 class="text-uppercase">
    Major Projects
  </h2>
  <div class="row py-4">
    <div class="work-item">
    <div class="img">
      <a href="" target="_blank" rel="noopener noreferrer">
        <img src="{{img}}" alt="WebsiteImg" />
      </a>
    </div>
    <div class="body">
      <p class="featured">Featured Project</p>
      <h2>Valentinos Village Bistro</h2>
      <p class="summary">Valentinos Villa Bistro is a hotel project located in Machakos. This project is built with Code Igniter.</p>
      <ul>
        <li>PHP JavaScript Bootstrap</li>
      </ul>
      <div class="links">
        <a href="" rel="noopener noreferrer" target="_blank">
          <i class="fa fa-github"></i>
        </a>
        <span>—</span>
<!--        <a href="" rel="noopener noreferrer" target="_blank">-->
<!--          <i class="fa fa-external-link"></i>-->
<!--        </a>-->
      </div>
    </div>
  </div>
    <div class="work-item">
    <div class="img">
      <a href="" target="_blank" rel="noopener noreferrer">
        <img src="{{img}}" alt="WebsiteImg" />
      </a>
    </div>
    <div class="body">
      <p class="featured">Featured Project</p>
      <h2>Valentinos Village Bistro</h2>
      <p class="summary">Valentinos Villa Bistro is a hotel project located in Machakos. This project is built with Code Igniter.</p>
      <ul>
        <li>PHP JavaScript Bootstrap</li>
      </ul>
      <div class="links">
        <a href="" rel="noopener noreferrer" target="_blank">
          <i class="fa fa-github"></i>
        </a>
        <span>—</span>
<!--        <a href="" rel="noopener noreferrer" target="_blank">-->
<!--          <i class="fa fa-external-link"></i>-->
<!--        </a>-->
      </div>
    </div>
  </div>
  </div>
</section>
