
<html>

  <body>
    <app-nav></app-nav>

    <div class="container-fluid">
      <div class="row">

<!--        Start sidebar-->
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="/backend">
                  <span data-feather="home"></span>
                  Dashboard
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="/backend/messages">
                  <span matBadgeOverlap="false" matBadge="9">
                    <i class="fa fa-send-o mr-2"></i>
                    Messages
                  </span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="/backend/posts">
                  <span matBadgeOverlap="false" matBadge="9">
                    <i class="fa fa-file-o mr-2"></i>
                    Posts
                  </span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="/backend/comments">
                  <span>
                    <i class="fa fa-file-o mr-2"></i>
                    Comments
                  </span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/backend/projects" routerLinkActive="active">
                  <span matBadgeOverlap="false" matBadge="9">
                    <i class="fa fa-rub mr-2"></i>
                    Projects
                  </span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="/backend/profile">
                  <span matBadgeOverlap="false">
                    <i class="fa fa-user mr-2"></i>
                    Profile
                  </span>
                </a>
              </li>
            </ul>

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>Saved reports</span>
              <a class="d-flex align-items-center text-muted" href="#">
                <span data-feather="plus-circle"></span>
              </a>
            </h6>
            <ul class="nav flex-column mb-2">
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                  Current month
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                  Last quarter
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                  Social engagement
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                  Year-end sale
                </a>
              </li>
            </ul>
          </div>
        </nav>

<!--        End sidebar-->

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">

          <router-outlet></router-outlet>

        </main>
      </div>
    </div>

  </body>
</html>




