<section class="container experience py-4">
  <h3 class="text-uppercase p-3">
    Places worked
  </h3>
  <div class="row mx-auto px-3" *ngIf="experiences && experiences.length >= 1">
    <div *ngFor="let experience of experiences; index as i" class="col-lg-4 col-md-6 col-sm-12  my-1 p-2 experience__wrapper">
      <div class="experience__item" >
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <h1 class="faded">0{{ i +1 }}</h1>
        <h5>{{experience.start }} - {{experience.end}}<small> ({{experience.position}})</small>
        </h5>
        <h2 class="">{{experience.company}}</h2>
        <p>{{ experience.desc }}</p>
        <span></span>
      </div>
    </div>
  </div>

</section>


