.breadcrumb {
  height: 60vh;
  background: url("../../../../../assets/imgs/blank-business-composition-computer-373076.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}

.breadcrumb-overlay {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1));
}

.breadcrumb-content {
  z-index: 2;
}

.breadcrumb-categories {
  max-width: 1250px;
}

.breadcrumb-categories a {
  cursor: pointer;
  color: #aaa;
}

.breadcrumb-categories a:hover,
.breadcrumb-categories a.active {
  color: #fff;
}
