<app-nav></app-nav>
  <main class="mt-5 py-5 container">
    <div class="py-2">
        <div class="pb-3 d-flex justify-content-between align-items-center">
          <h2 class="back-title text-capitalize">Blog - <span>Posts</span></h2>
          <div style="min-width: 350px;" class="form-group">
            <input style="border-radius: 4px !important;" type="text" placeholder="Search..." class="form-control rounded form-control-sm">
          </div>
        </div>
        <div *ngIf="!loading" class="posts">
          <div class="post">
            <img src="{{img}}" alt="">
            <div class="post-des">
              <span class="py-3">13 Mar</span>
              <h2 class="mat-display-2">Verifying JWT in Flask...</h2>
              <p class="desc">
                Lorem ipsum dolor sit amet, consectetur
                adipisicing elit. Alias dolor dolorem ex nemo,
                obcaecati omnis repellendus sed similique soluta suscipit!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Accusamus ad consectetur consequatur, corporis dolorum earum eligendi
                et eveniet ex explicabo fuga ipsa ipsam mollitia quasi ratione velit vitae?
                Architecto, nisi...
              </p>
              <ul class="tags pb-2 my-0 d-flex align-items-center">
                <li class="mr-1">
                  <a href="">
                    <small>#flask api</small>
                  </a>
                </li>
                <li class="mr-1">
                  <a href="">
                    <small>#angular</small>
                  </a>
                </li>
                <li class="mr-1">
                  <a href="">
                    <small>#react</small>
                  </a>
                </li>
              </ul>
              <a routerLink="/blog/1" class="btn btn-sm btn-inverse" >Full Article</a>
            </div>
          </div>
        </div>
      </div>
      <div class="post-list container py-5">
        <div class="post-item my-3 row">
          <a routerLink="/blog/1" class="col-md-3 col-sm-12 post-item-img">
            <img src="{{ img }}" alt="">
          </a>
          <div class="col-md-7 col-sm-12 post-item-desc">
            <h3>JWT(JSON Web Token) in Angular and Flask</h3>
            <span>Mar 12, 2021</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam distinctio eius libero nesciunt officia officiis reiciendis! Beatae culpa deserunt dolorum harum non nulla officiis quibusdam temporibus totam voluptatum. Blanditiis debitis dignissimos ducimus, ea fugiat provident sint velit voluptates? Dolorem, molestias.</p>
          </div>
          <div class="col-md-2 col-sm-12 py-3 post-item-extra">
            <h2>Angular</h2>
            <span>Flask API</span>
            <a routerLink="/blog/1" class="btn btn-sm btn-primary mt-2">
              Read More
            </a>
          </div>
        </div>
        <div class="post-item my-3 row">
          <a routerLink="/blog/1" class="col-md-3 col-sm-12 post-item-img">
            <img src="{{ img }}" alt="">
          </a>
          <div class="col-md-7 col-sm-12 post-item-desc">
            <h3>JWT(JSON Web Token) in Angular and Flask</h3>
            <span>Mar 12, 2021</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam distinctio eius libero nesciunt officia officiis reiciendis! Beatae culpa deserunt dolorum harum non nulla officiis quibusdam temporibus totam voluptatum. Blanditiis debitis dignissimos ducimus, ea fugiat provident sint velit voluptates? Dolorem, molestias.</p>
          </div>
          <div class="col-md-2 col-sm-12 py-3 post-item-extra">
            <h2>Angular</h2>
            <span>Flask API</span>
            <a routerLink="/blog/2" class="btn btn-sm btn-primary mt-2">
              Read More
            </a>
          </div>
        </div>
        <div class="post-item my-3 row">
          <a routerLink="/blog/1" class="col-md-3 col-sm-12 post-item-img">
            <img src="{{ img }}" alt="">
          </a>
          <div class="col-md-7 col-sm-12 post-item-desc">
            <h3>JWT(JSON Web Token) in Angular and Flask</h3>
            <span>Mar 12, 2021</span>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Aliquam distinctio eius libero nesciunt officia officiis reiciendis!
              Beatae culpa deserunt dolorum harum non nulla officiis quibusdam temporibus totam voluptatum.
              Blanditiis debitis dignissimos ducimus, ea fugiat provident sint velit voluptates? Dolorem, molestias.
            </p>
          </div>
          <div class="col-md-2 col-sm-12 py-3 post-item-extra">
            <h2>Angular</h2>
            <span>Flask API</span>
            <a routerLink="/blog/3" class="btn btn-sm btn-primary mt-2">
              Read More
            </a>
          </div>
        </div>
        <div style="border: 1px solid red; height: 40px; width: 400px" class="post-list-pagination text-center mx-auto my-5">
          <h5>PAGINATION HERE</h5>
        </div>
      </div>
      <app-contact></app-contact>
      <form [formGroup]="emailForm" (ngSubmit)="onSubmit()" class="subscribe py-2 px-4">
        <div class="form-group">
          <h6>Subscibe to my news channel</h6>
          <input
            formControlName="email"
            type="email"
            class="form-control form-control-sm"
            placeholder="Enter email address..."
            [class.is-invalid]="getEmail?.invalid && getEmail?.touched"
          >
          <div *ngIf="getEmail?.invalid && getEmail?.touched">
            <small *ngIf="getEmail?.errors?.required" class="text-danger">Email address is required</small>
            <small *ngIf="getEmail?.errors?.email" class="text-danger">Enter a valid email address</small>
            <small *ngIf="getEmail?.errors?.minlength" class="text-danger">Email address should be at least 8 characters</small>
          </div>
        </div>
        <button class="btn btn-sm btn-success rounded-0">Subscribe</button>
      </form>

  </main>
<app-footer></app-footer>
