<div class="container py-5 all-projects">
  <h2 class="text-uppercase">
    Other Noteworthy Projects
  </h2>
  <div class="row projects py-4">
   <div class="col-md-4 project">
      <a routerLink="/" class="project-wrapper">
        <h3>React Projects</h3>
      </a>
    </div>
    <div class="col-md-4 project">
      <a routerLink="/" class="project-wrapper">
        <h3>Angular Projects</h3>
      </a>
    </div>
    <div class="col-md-4 project">
      <a routerLink="/" class="project-wrapper">
        <h3>Flask Projects</h3>
      </a>
    </div>
    <div class="col-md-4 project">
      <a routerLink="/" class="project-wrapper">
        <h3>Django Projects</h3>
      </a>
    </div>
    <div class="col-md-4 project">
      <a routerLink="/" class="project-wrapper">
        <h3>Code Igniter Projects</h3>
      </a>
    </div>
    <div class="col-md-4 project">
      <a routerLink="/" class="project-wrapper">
        <h3>Django APIs</h3>
      </a>
    </div>
    <div class="col-md-4 project">
      <a routerLink="/" class="project-wrapper">
        <h3>Flask APIs</h3>
      </a>
    </div>
     <div class="col-md-4 project">
      <a routerLink="/" class="project-wrapper">
        <h3>PHP Projects</h3>
      </a>
    </div>
     <div class="col-md-4 project">
      <a routerLink="/" class="project-wrapper">
        <h3>Laravel Projects</h3>
      </a>
    </div>
  </div>
</div>
